@import "./reset.css";
@import "./common";
@import "./haeder";
@import "./button";
/* =====================
    ly_about
===================== */
.ly_about {
  overflow: hidden;
  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-color: #000;
    transition: height .6s;
  }
  &.is_loaded:before {
    height: 0;
  }


  /* =====================
      el_title
  ===================== */
  .el_title {
    position: relative;
    font-size: 2.8rem;
    font-weight: normal;
    letter-spacing: .2em;
    @include font_family(medium);
    @include mediaQuery(mobile) {
      text-align: center;
    }
    @include mediaQuery(tablet) {
      font-size: 4rem;
    }
    @include mediaQuery(desktop) {
      font-size: 4rem;
      padding-left: 15%;
    }

    .mod-titleNumber {
      position: absolute;
      top: 0;
      left: 0;
      color: $red;
      letter-spacing: normal;
      @include font_family(primary);
      padding: 0 0 0 34px;
      @include mediaQuery(tablet) {
        padding: 0 0 0 70px;
      }
      @include mediaQuery(desktop) {
        padding: 0 0 0 60px;
      }
      &:before {
        content: '';
        position: absolute;
        top: 40%;
        left: 0;
        transform: translateY(-50%);
        width: 25px;
        border-top: 2px solid $black;
        @include mediaQuery(tablet) {
          width: 50px;
        }
        @include mediaQuery(desktop) {
          width: 50px;
        }
      }
    }
  }
  /* end el_title
  ===================== */


  /* =====================
      el_btn
  ===================== */
  .el_btn_wrapper {
    .el_btn {
      left: 0;
      transition: transform .3s ease;
    }
  }
  /* end el_btn
    ===================== */


  /* =====================
      bl_about
  ===================== */
  .bl_about {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: #020b16;

    &_textBox {
      overflow: hidden;
      position: absolute;
      z-index: 3;
      @include mediaQuery(mobileOnly) {
        right: 0;
        bottom: 15%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 25px;
        min-height: 188px;
      }
      @include mediaQuery(tablet) {
        top: 50%;
        left: 40px;
        transform: translate(0,-50%);
      }
      @include mediaQuery(desktop) {
        top: 50%;
        left: 11%;
        transform: translate(0,-50%);
      }

      &__first {
        @include mediaQuery(mobileOnly) {
          padding: 0 45px;
        }
      }
    }

    &_title {
      position: relative;
      top: 0;
      left: 0;
      font-size: 4.2rem;
      font-weight: normal;
      letter-spacing: 0.15em;
      text-shadow: 0 10px 10px rgba(0,0,0,.3);
      margin-bottom: 30px;
      transition: left .6s;
      @include font_family(medium);
      @include mediaQuery(tablet) {
        font-size: 7.6rem;
        margin-bottom: 60px;
      }
      @include mediaQuery(desktop) {
        font-size: 12rem;
        letter-spacing: .1em;
        margin-bottom: 80px;
      }
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 110%;
        left: 0;
        width: 45px;
        height: 2px;
        background-color: $red;
        border-radius: 4px;
        @include mediaQuery(tablet) {
          width: 70px;
          height: 4px;
        }
        @include mediaQuery(desktop) {
          width: 90px;
          height: 4px;
        }
      }
      &:after {
        left: 30px;
        margin-top: 10px;
        @include mediaQuery(tablet) {
          left: 40px;
          margin-top: 17px;
        }
        @include mediaQuery(desktop) {
          left: 60px;
          margin-top: 20px;
        }
      }
    }

    &_text {
      position: relative;
      top: 0;
      left: 0;
      font-size: 1.6rem;
      letter-spacing: .1em;
      line-height: 1.5;
      transition: left .6s .1s;
      @include mediaQuery(tablet) {
        font-size: 2.4rem;
      }
      @include mediaQuery(desktop) {
        font-size: 2.8rem;
      }
    }

    &_imageBox {
      position: absolute;
      top: 10%;
      z-index: 2;
      width: 80%;
      height: 55%;
      transition: width .6s .6s ease,height .6s .6s ease,top .6s .6s ease,right .6s .6s ease;
      @include mediaQuery(mobileOnly) {
        left: 50%;
        transform: translate(-50%,0);
      }
      @include mediaQuery(tablet) {
        top: 13%;
        right: 40px;
        width: 53%;
        height: 75%;
      }
      @include mediaQuery(desktop) {
        top: 50%;
        left: 37%;
        transform: translate(0,-50%);
        width: 55%;
        height:  100vh;
        font-size: 3rem;
      }

      &.is_sizeUp {
        @include mediaQuery(mobileOnly) {
          top: 0;
          width: 100%;
          height: 65%;
        }
        @include mediaQuery(tablet) {
          top: 0;
          right: 0;
          width: 63%;
          height: 100vh;
        }
        @include mediaQuery(desktop) {
          width: 63%;
        }
      }
    }

    &_image {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;';
      }
    }

    &_numberBox {
      overflow: hidden;
      position: absolute;
      right: -9%;
      bottom: 10%;
      @include mediaQuery(tablet) {
        right: -6%;
      }
    }

    &_number {
      position: relative;
      top: 160px;
      transition: top .3s;
      font-size: 16rem;
      text-shadow: 0 10px 10px rgba(0,0,0,.3);
      @include font_family(medium);
      @include mediaQuery(tablet) {
        top: 80px;
        font-size: 8rem;
      }

      &.is_active {
        top: 0;
      }
    }

    &_scrollDown {
      position: fixed;
      bottom: 35px;
      z-index: 1;
      writing-mode: vertical-lr;
      font-size: 1.2rem;
      letter-spacing: 0.3em;
      padding-bottom: 10px;
      transition: bottom .4s;
      @include mediaQuery(mobileOnly) {
        right: 20px;
      }
      @include mediaQuery(tablet) {
        bottom: 60px;
        left: 40px;
        font-size: 1.4em;
        padding-bottom: 20px;
      }
      @include mediaQuery(desktop) {
        bottom: 70px;
        left: 40px;
        font-size: 1.6rem;
        padding-bottom: 20px;
      }
      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 35px;
        background-color: #fff;
        @include mediaQuery(tablet) {
          height: 60px;
        }
        @include mediaQuery(desktop) {
          height: 70px;
        }
      }
    }

    .bl_about_arrowBox {
      position: fixed;
      top: 60px;
      left: 20px;
      z-index: 2;
      display: block;
      width: 36px;
      height: 36px;
      transition: transform .3s ease;
      @include mediaQuery(desktop) {
        top: 120px;
        left: 40px;
        width: 64px;
      }
      &:hover {
        transform: translateX(-14%);
      }
    }

    &_arrow {
      cursor: pointer;
      display: inline-block;
      width: 100%;
      height: 1px;
      margin-top: 18px;
      background-color: #fff;
      transition: background-color .3s ease;
      @include mediaQuery(desktop) {
        height: 2px;
      }
      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 12px;
        height: 1px;
        background-color: #fff;
        transition: background-color .3s ease;
        @include mediaQuery(desktop) {
          width: 24px;
          height: 2px;
        }
      }
      &:before {
        top: 14px;
        left: -2px;
        transform: rotate(-45deg);
        @include mediaQuery(desktop) {
          top: 10px;
          left: -4px;
        }
      }
      &:after {
        top: 22px;
        left: -2px;
        transform: rotate(45deg);
        @include mediaQuery(desktop) {
          top: 26px;
          left: -4px;
        }
      }

      &.is_color {
        background-color: $black;
        &:before,
        &:after {
          background-color: $black;
        }
      }
    }
  }
  /* end bl_about
  ===================== */


  /* =====================
      ly_article
  ===================== */
  .ly_article {
    color: $black;
    padding: 150px 0;
    @include mediaQuery(tablet) {
      padding: 20rem 0;
    }
    @include mediaQuery(desktop) {
      padding: 20rem 0;
    }

    > section:not(:first-child) {
      margin-top: 140px;
      @include mediaQuery(tablet) {
        margin-top: 160px;
      }
      @include mediaQuery(desktop) {
        margin-top: 200px;
      }
    }

    img {
      width: 100%;
    }
  }
  /* end ly_article
  ===================== */


  /* =====================
      bl_who
  ===================== */
  .bl_who {
    .bl_who_wrapper {
      @include mediaQuery(desktop) {
        width: 100%;
        max-width: 1200px;
        margin: auto;
      }
      @media screen and (min-width: 801px) and (max-width: 1250px) {
        padding-right: 10%;
      }
    }

    .bl_who_profile {
      width: 80%;
      margin: 50px auto 0;
      @include mediaQuery(tablet) {
        margin: 80px auto 0;
      }
      @include mediaQuery(desktop) {
        width: 50%;
        margin: -4rem 0 0 auto;
      }
      @media screen and (min-width:801px) and (max-width: 1250px) {
        width: 54%;
        padding: 0 10%;
      }
      
      > h3 {
        font-size: 1.6rem;
        letter-spacing: .2em;
        @include font-family(primary);
        @include mediaQuery(tablet) {
          font-size: 2.5rem;
        }
        @include mediaQuery(desktop) {
          font-size: 2.5rem;
        }
      }
      .mod-en {
        display: inline-block;
        font-size: .7em;
        @include mediaQuery(mobileOnly){
          font-size: .6em;
          padding-top: 8px;
        }
        @include mediaQuery(tablet) {
          font-size: .6em;
        }
      }

      > p {
        color: $silverGray;
        font-size: 1.4rem;
        line-height: 2;
        margin-top: 25px;
        @include mediaQuery(tablet) {
          font-size: 1.6rem;
        }
        @include mediaQuery(desktop) {
          text-align: justify;
          font-size: 1.6rem;
        }
      }

      .bl_who_image {
        margin-top: 40px;
        box-shadow: 0 20px 50px $silverGray;
        @include mediaQuery(tablet) {
          margin-top: 60px;
          box-shadow: 0 50px 80px $silverGray;
        }
        @include mediaQuery(desktop) {
          margin-top: 60px;
          box-shadow: 0 50px 80px $silverGray;
        }
      }
    }
  }
  /* end bl_who
  ===================== */


  /* =====================
      bl_passion
  ===================== */
  .bl_passion {
    .bl_passion_wrapper {
      @include mediaQuery(mobile) {
        padding: 0 10%;
      }
      @include mediaQuery(desktop) {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
      }
      @media screen and (min-width: 801px) and (max-width: 1250px) {
        padding: 0 10%;
      }
    }

    .bl_passion_list {
      @include mediaQuery(desktop) {
        display: flex;
        justify-content: space-between;
        margin-top: 14rem;
      }
    }

    .bl_passion_item {
      margin-top: 40px;
      @include mediaQuery(tablet) {
        margin-top: 60px;
      }
      @include mediaQuery(desktop) {
        width: 29.75%;
        margin-top: 0;
      }

      > h3 {
        text-align: center;
        word-break: break-all;
        color: $black;
        font-size: 2rem;
        letter-spacing: .2em;
        margin-top: 15px;
        @include font-family(medium);
        @include mediaQuery(tablet) {
          font-size: 3.2rem;
          margin-top: 25px;
        }
        @include mediaQuery(desktop) {
          font-size: 3.2rem;
          margin-top: 25px;
        }
      }

      > p {
        color: $silverGray;
        font-size: 1.4rem;
        line-height: 2;
        margin-top: 12px;
        @include mediaQuery(tablet) {
          font-size: 1.6rem;
          margin-top: 25px;
        }
        @include mediaQuery(desktop) {
          font-size: 1.6rem;
          margin-top: 25px;
        }
      }
    }

    .bl_passion_image {
      width: 25%;
      margin: 0 auto;
      @include mediaQuery(desktop) {
        width: 42%;
      }
    }
  }
  /* end bl_passion
  ===================== */


  /* =====================
      bl_skill
  ===================== */
  .bl_skill {
    .bl_skill_list {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1200px;
      margin: 5rem auto 0;
      @include mediaQuery(mobile) {
        padding: 0 10%;
      }
      @include mediaQuery(tablet) {
        margin: 6rem auto 0;
      }
      @include mediaQuery(desktop) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 10rem auto 0;
      }
      @media screen and (min-width: 801px) and (max-width: 1250px) {
        padding: 0 10%;
      }
    }
    
    .bl_skill_item {
      display: flex;
      justify-content: space-between;
      &:not(:first-child) {
        margin-top: 4rem;
      }
      @include mediaQuery(tablet) {
        &:not(:first-child) {
          margin-top: 6rem;
        }
      }
      @include mediaQuery(desktop) {
        width: 47%;
        &:not(:first-child),
        &:not(:nth-child(2)) {
          margin-top: 6rem;
        }
      }
    
      &__1st {
        @include mediaQuery(mobile) {
          order: 1;
        }
      }
      &__2nd {
        @include mediaQuery(mobile) {
          order: 2;
        }
      }
      &__3rd {
        @include mediaQuery(mobile) {
          order: 3;
        }
      }
      &__4th {
        @include mediaQuery(mobile) {
          order: 4;
        }
      }
      &__5th {
        @include mediaQuery(mobile) {
          order: 5;
        }
      }
      &__6th {
        @include mediaQuery(mobileOnly) {
          margin-top: 70px!important;
        }
        @include mediaQuery(mobile) {
          order: 6;
        }
      }
      &__7th {
        @include mediaQuery(mobile) {
          order: 7;
        }
      }
      &__8th {
        @include mediaQuery(mobile) {
          order: 8;
        }
      }
      &__9th {
        @include mediaQuery(mobile) {
          order: 9;
        }
      }
      &__10th {
        @include mediaQuery(mobile) {
          order: 10;
        }
      }
    }
    
    .bl_skill_icon {
      width: 10%;
    }
    
    .bl_skill_data {
      width: 86%;
    }
    
    .bl_skill_name {
      display: flex;
      align-items: baseline;
      color: $black;
      font-size: 1.4rem;
      letter-spacing: .2em;
      @include font-family(medium);
      @include mediaQuery(tablet) {
        font-size: 2.4rem;
      }
      @include mediaQuery(desktop) {
        font-size: 2.4rem;
      }
    
      &__history {
        color: $gray;
        font-size: .8em;
        letter-spacing: .2em;
        margin-left: 12px;
        @include mediaQuery(tablet) {
          font-size: .6em;
          letter-spacing: .1em;
          margin-left: 6px;
        }
        @include mediaQuery(desktop) {
          font-size: .6em;
          letter-spacing: .1em;
          margin-left: 6px;
        }
      }
    
      &__value {
        color: $black;
        margin-left: auto;
        @include mediaQuery(mobileOnly) {
          font-size: 1.4rem;
        }
      }
    
      &__percentage {
        color: $black;
        font-size: .8em;
        @include mediaQuery(tablet) {
          font-size: .7em;
        }
        @include mediaQuery(desktop) {
          font-size: .7em;
        }
      }
    
      &__high {
        color: $red;
      }
    }
    
    .bl_skill_progressBar {
      position: relative;
      width: 100%;
      height: 8px;
      margin-top: 10px;
      border-radius: 10px;
      box-shadow: 0 3px 12px 0px #ccc;
      transition: width 1.5s ease;
      @include mediaQuery(tablet) {
        height: 14px;
      }
      @include mediaQuery(desktop) {
        height: 14px;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 10%;
        height: 100%;
        border-radius: 10px;
        background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
        transition: width 1.5s ease;
      }
    
      &.is_active {
        &.is_50:after {
          width: 50%;
        }
        &.is_60:after {
          width: 60%;
        }
        &.is_70:after {
          width: 70%;
        }
        &.is_80:after {
          width: 80%;
        }
        &.is_90:after {
          width: 90%;
        }
      }
    }
  }
  /* end bl_skill
  ===================== */


  /* =====================
      bl_footer
  ===================== */
  .bl_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 9rem 0;
    background-image: linear-gradient(101deg, #072142, #8c2b7a 52%, #ff4d5a);
    @include mediaQuery(tablet) {
      padding: 14rem 0;
    }
    @include mediaQuery(desktop) {
      padding: 14rem 0;
    }

    .bl_footer_item {
      text-align: center;
      font-size: 1.4rem;
      letter-spacing: .2em;
      &:not(:first-child) {
        margin-top: 14px;
      }
      @include mediaQuery(tablet) {
        font-size: 2.8rem;
        &:not(:first-child) {
          margin-top: 30px;
        }
      }
      @include mediaQuery(desktop) {
        font-size: 2.8rem;
        transition: opacity .3s ease;
        &:not(:first-child) {
          margin-top: 30px;
        }
        &:hover {
          opacity: .6;
        }
      }
    }
  }
  /* end bl_footer
  ===================== */
}
/* end ly_about
===================== */